    body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        background: url('asset/bg.jpg');
        background-size: cover;
        background-repeat: repeat;
        background-attachment: fixed;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        color: white;
        text-align: center;
        padding: 40px 20px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.45);
        z-index: -1;
    }

    .logo img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid white;
        box-shadow: 0 0 22px rgba(255, 255, 255, 0.7), 
                    0 0 40px rgba(13, 138, 67, 0.8);
        animation: fadeIn 1.5s ease;
    }

    h1 {
        margin-top: 15px;
        font-size: 28px;
        font-weight: 700;
        text-shadow: 0 2px 10px rgba(0,0,0,0.6);
        animation: fadeInUp 1s ease forwards;
    }

    h2 {
        margin-top: 2px;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 0 2px 10px rgba(0,0,0,0.6);
        animation: fadeInUp 1s ease forwards;
    }

    .btn {
        display: block;
        width: 92%;
        max-width: 360px;
        padding: 15px 20px;
        margin: 12px auto;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        border-radius: 14px;
        color: #ffffff;
        background: linear-gradient(145deg, #0daa50, #0a7a3c);
        box-shadow: 0 4px 12px rgba(0,0,0,0.33), 
                    inset 0 0 10px rgba(255,255,255,0.2);
        backdrop-filter: blur(3px);
        transition: 0.25s ease;
        animation: fadeInUp 1s ease forwards;
    }

    .btn:hover {
        transform: scale(1.08);
        background: linear-gradient(145deg, #0a7a3c, #0daa50);
        box-shadow: 0 6px 22px rgba(0,0,0,0.4),
                    0 0 12px rgba(255,255,255,0.5);
    }

    @media (hover: hover) {
    .btn:hover {
       transform: scale(1.05);
       opacity: .95;
    }
    }
    
    footer {
        margin-top: 40px;
        opacity: 0.8;
        font-size: 14px;
        text-shadow: 0 1px 5px rgba(0,0,0,0.9);
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: scale(0.8); }
        to { opacity: 1; transform: scale(1); }
    }

    @keyframes fadeInUp {
        from { opacity: 0; transform: translateY(25px); }
        to { opacity: 1; transform: translateY(0); }

    }


